.homepage {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/lucifer.jpg");
  color: white;
  padding: 20px;
}

.header{
    width: 100%;
    height: 5%;
    display: flex;
    position: relative
}

.navbar{
    display: flex;
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 24px;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 100%;
    /* background-color: white; */
    align-content: center;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.navLink{
    padding: 45px 10px 40px 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(204, 193, 193);
    font-family: 'Times New Roman', Times, serif;
}

.navbar-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navLink:hover{
    text-decoration: underline;
    cursor: pointer;
    color: whitesmoke;
}

.logo{
    height: 130px;
    width: 150px;
    flex: 0;
}

/* .navbar-links{
    flex: 6;
} */

.logo:hover{
    cursor: pointer;
}

.login{
    margin-left: 40px;
}

.loginButton{
    height: 36px;
    width: 121px;
    position: relative;
    right: 20px;
    border-radius: 10px;
    border: 0px solid;
    background-color:  rgb(204, 193, 193);
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    align-items: center;
    font-weight: 600;
}

.loginButton:hover{
    background-color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 125px;
    height: 40px
}

.banner {
  background: url("https://via.placeholder.com/800x400") no-repeat center;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.movies-section {
  margin-top: 20px;
}

.movies-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.movie-card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

