.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative
}

.image{
    height: 100%;
    width: 100%;
    z-index: -1;
}

.text{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    z-index: 10;
    top: 10px;
    left: 10px;
}